/**
 * CSS File
 */

body, html {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.fbLogo {
    width: 100%;
    margin-top: 64px;
}

.indentSides {
    padding-left: 15px;
    padding-right: 15px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.issue-wrapper {
    background-color: #eee;
}

.slider-wrapper {
  width: 90%;
  margin: 1em auto;
  text-align: center;
}

.confirm-choice-wrapper,
.next-candidate-wrapper {
    text-align: right;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 7px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    background: lightgray;
    outline: none; /* no focus outline */
}

/*input[type="range"]:before {
    content: '-';
    color: red;
    font-weight: bold;
    font-size: 250%;
    position: relative;
    left: -20px;
    line-height: 0;
    margin-right: -20px;
}
input[type="range"]:after {
    content: '+';
    color: blue;
    font-weight: bold;
    font-size: 250%;
    position: relative;
    line-height: 0;
    right: -30px;
    top: 3px;
    margin-left: -25px;
}
*/
input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-color: #555;
}

/* yeah I wish I didn't have to dupe this code either */
input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-color: #555;
}

input[type="range"]::-ms-thumb {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-color: #555;
}

/* User Profile */
.user-profile-btn {
    background-color: #eee;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin: 12px;
    text-align: center;
    width: 256px;
}

.user-profile-btn:hover {
    background-color: #ddd;
}

/* Crowdsourcing form */
.submit-button {
    margin-top: 20px;
}

.candidateLabel {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0px;
}

/* stance selector */
.btn-group {
    display: inline-block;
    margin-bottom: 12px;
    position: relative;
}

.btn {
    background-color: rgba(0,0,0,0);
    background-image: none;
    border: 4px solid blue;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin-right: 20px;
    width: 28px;
}

.btn>input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.btn:last-child {
    margin-right: 0px;
}

.btn.strongly-agree {
    border: 4px solid #668eff;
}

.btn.agree {
    border: 4px solid #99b4ff;
}

.btn.strongly-disagree {
    border: 4px solid #ff8080;
}

.btn.disagree {
    border: 4px solid #ffb3b3;
}

.btn.neutral {
    border: 4px solid #d9d9d9;
}

.btn.strongly-agree.selected {
    background-color: #668eff;
}

.btn.agree.selected {
    background-color: #99b4ff;
}

.btn.strongly-disagree.selected {
    background-color: #ff8080;
}

.btn.disagree.selected {
    background-color: #ffb3b3;
}

.btn.neutral.selected {
    background-color: #d9d9d9;
}

.btn-group .text-container {
    margin-top: 4px;
    max-width: 256px;
    font-size: 16px;
}

.btn-group .text-container .agree-text {
    color: #668eff;
    float: right;
}

.btn-group .text-container .disagree-text {
    color: #ff8080;
}
